{% extends "movies/base.html" %}
{% block content %}
<a role="button" class="btn btn-outline-danger btn-lg btn-block" href="{% url 'tv-home'%}">What are you watching?</a>
{%for tvshow in tvshows%}
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="imagedet" src="https://image.tmdb.org/t/p/original/{{tvshow.poster_path}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{tvshow.name}}</h5>
          <p class="card-text">{{tvshow.overview}}</p>
          <p class="card-text">Seasons: {{tvshow.number_of_seasons}}</p>
          <p class="card-text">Episodes: {{tvshow.number_of_episodes}}</p>
          <a role="button" href="{% url 'tv-delete' tvshow.id %}" type="button" class="btn btn-outline-danger">Remove</a>
          <a role="button" href="{% url 'tv-watched' tvshow.id %}"class="btn btn-outline-dark">Completed!</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}